@charset "utf-8";
/* CSS Document */

cover {
	display:block;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: .7px solid #333;
	font-family:"Gill Sans", Helvetica, Arial, "sans-serif"}
artists {display:block; font-size: 22px; }
title {font-style: italic; font-size: 19px;}
genre {font-style: italic; font-size: 19px;}
release {font-style: italic; font-size: 19px;}
