@charset "utf-8";
/* CSS Document */
setlist{
  background-color: #ffcccb;
  text-align: center;
}
cover {
	display:block;
	margin-bottom: 15px;
	padding-bottom: 10px;
  padding-left: 10px;
	font-family:"Gill Sans", Helvetica, Arial, "sans-serif"
}

title {display:block; font-style: italic; font-size: 30px;}
artists {display:block; font-size: 20px;}
genre {display:block; font-style: italic; font-size: 20px;}
release {display:block; font-style: italic; font-size: 20px;}
